body {
    min-height: 100vh;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div {
    border: 5px solid green;
    padding: 30px;
}

.div2 {
    background-color: grey;
}

.title-border {
    border: 5px solid red;
}